html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;
    padding-top: 5rem;
    margin: 0;
}

/*Header start*/
header{
    display: flex;
    background-color: hsl(0, 0%, 100%, 0.98);
    justify-content: center;
    align-items: center;
    padding: 0 22%;
    height: 5rem;
    gap: 26%;
    box-shadow: 0px 0px 4px rgb(146, 146, 146);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

.navigation{
    display: flex; 
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding:0rem; 
}

.navigation li{
    width: 4rem;
    text-align: center;
    padding:0rem;  
    cursor: pointer;
}

.navigation li:hover{
    transition: color 0.2s ease-out;
    color: #557aff;
}

a {
    text-decoration: none;
    color: #0a0a0a;
}

#logo{
    font-weight: 500;
    letter-spacing: -0.25px;
    min-width: 6rem;
    /*color: #e69bae;*/
    color: #597CFB;
}

#contactbtn{
    min-width: 6rem;
}



.hamburgericon{
    display: none;
}

.mobile-navigation{
    display: none;
}
/*Header end*/




/*Hero section start*/
.parentflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 1000px;  
    transform: translateY(100px);
    opacity: 0;
    transition: 1.25s;
}

.parentflexshow{
    transform: translateY(0);
    opacity: 1;
}

.flexleft, .flexright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 26rem;
    width: 28%;
    min-width: 460px;
    margin: 12rem 0rem 2rem 0rem;
    padding: 0;
}

.sociallink{
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 1rem;
}

.memoji1{
    width: 400px; 
    margin-left: auto;
}

.memoji2{
    width: 400px; 
    margin-right: auto;
}
/*Font sizes, color etc*/
#texthighlight1{
    color: #0a0a0a;
    font-weight: 500;
}

#texthighlight2{
    color: #e69bae;
    font-weight: 500;
}

.flexleft h1{
    font-size: 3.05rem;
    font-weight: 500;
    letter-spacing: -1.35px;
    line-height: 3.8rem; /*1.25 x Font size*/
    color: #0a0a0a;
    margin: 0 auto 0 0;
    padding: 0;
}

.flexleft p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.8rem; /*1.5 x Font size*/
    width: 28rem;
    margin: 1rem auto 2rem 0;
}
/*Hero section end*/




/*About section start*/
.aboutparentflex{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 1.25s;    
    padding: 0 0 2.5rem 0;
}

.aboutparentflexshow{
    transform: translateY(0);
    opacity: 1;
}

.aboutflexleft, .aboutflexright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: 28%;
    min-width: 460px;
    margin: 12rem 0rem 8rem 0rem;
}

.desktop-techstack{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0;
}

.desktop-techstack ul{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    padding:0rem; 
    margin: 0;
}

.desktop-techstack ul li:hover{
    scale: 1rem;
    transform: scale(1.1);
    transition: transform 0.25s;
}


.mobile-techstack{
    display: none;
}

/*Font sizes, color etc*/
.aboutflexright h1{
    font-size: 2.05rem;
    font-weight: 500;
    letter-spacing: -1.35px;
    line-height: 2.56rem; /*1.25 x Font size*/
    color: #0a0a0a;
    margin: 0 auto 0 0;
    padding: 0;
}

.aboutflexright h2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1.35px;
    color: #0a0a0a;
    margin: 1rem 0;
}

.aboutflexright p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.8rem; /*1.5 x Font size*/
    margin: 1rem 0 1.5rem 0;    
    padding-right: 0;
}
/*About section end*/




/*Project section right aligned start*/
.projectparent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    padding: 10rem 0 12rem 0;
    background-color: rgb(250, 250, 250);
}

.projectcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding: 2rem 0 0 0;
}

.projectcenter1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /*Change to column reverse for mobile*/
    height: fit-content;
    width: 56.5%;
    min-width: 900px;
    box-shadow: 0px 0px 4px rgb(146, 146, 146);
    background-color: #ffffff;
    border-radius: 22px;
    padding: 1rem;
    gap: 4rem;
    opacity: 0;
    transform: translateY(20%);  
    transition: 0.8s;
}

.projectcenter1_active{
    opacity: 1;
    transform: translateY(0%);
}

.project-techstack{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto 0 0;
}

.project-techstack ul{
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
    margin: 1.5rem 0 2rem 0;    
    padding:0rem; 
}

.btnparent{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btnchild{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    background-color: hsl(0, 0%, 92%);
    border-radius: 8px;
    border-style: none;
    margin-top: 0rem;
    cursor: pointer;
}

.btnchild:hover{
    background-color: hsl(0, 0%, 88%);
}

.projectimg{
    width: 500px;
    border-radius: 22px;
    box-shadow: 0px 0px 4px #c4c4c4;
}
/*Project section right aligned end*/


/*Project section left aligned start*/
.projectcenter2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /*Change to column reverse for mobile*/
    height: fit-content;
    width: 56.5%;
    min-width: 900px;
    box-shadow: 0px 0px 4px rgb(146, 146, 146);
    background-color: #ffffff;
    border-radius: 22px;
    padding: 1rem;
    gap: 4rem;
    opacity: 0;
    transform: translateY(20%);  
    transition: 0.8s;
}

.projectcenter2_active{
    opacity: 1;
    transform: translateY(0%);
}

/*Font sizes*/
.projectparent h1{
    font-size: 2.05rem;
    font-weight: 500;
    letter-spacing: -1.35px;
    color: #0a0a0a;
    margin: 0;
}

.projectparent p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #4a4a4a;
    margin: 0.5rem 0 1rem 0;
}

.projectcenter1 h1, .projectcenter2 h1{
    font-size: 0.9rem;
    font-weight: 500;
    color: #0a0a0a;
    margin: 0;
}

.projectcenter1 h2, .projectcenter2 h2{
    font-size: 2rem;
    font-weight: 500;
    color: #0a0a0a;
    margin: 0.5rem auto 1rem 0;
}

.projectcenter1 p, .projectcenter2 p{
    font-size: 1.1rem;
    font-weight: 400;
    color: #2a2a2a;
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
}

.btnchild p{
    font-size: 1rem;
    font-weight: 400;
    color: #0a0a0a;
    padding: 0;
}
/*Project section left aligned end*/




/*Contact section start*/
.contactparent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem 0;
    background-color: #ffffff;
}

.contactchild{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem; 
    height: fit-content;
    width: fit-content;
    min-width: 900px;
    border-radius: 20px;
}

input{
    font-size: 1rem;
    font-family: 'Inter' sans-serif;
    font-weight: 400;
    width: 31.5rem;
    height: 2rem;
    padding: 0 1rem;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
}

textarea {
    font-size: 1.1rem;
    font-weight: 400;
    resize: vertical;
    width: 31.5rem;  
    height: 10rem;
    padding: 1rem;
    border: 1px solid #0a0a0a;
    border-radius: 10px;
}

.formbtns{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.formsubmit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 16.5rem;
    background-color: #597CFB;
    border: 1px solid #597CFB;
    border-radius: 10px;
    cursor: pointer;
}

.formreset-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 16.5rem;
    background-color: #ffffff;
    border: 1px solid #597CFB;
    border-radius: 10px;
    cursor: pointer;
}


/*font sizes*/
.contactparent h1{
    font-size: 2.05rem;
    font-weight: 500;
    letter-spacing: -1.35px;
    color: #0a0a0a;
    margin: 0;
}

.contactparent h2{
    font-size: 1.2rem;
    font-weight: 400;
    color: #4a4a4a;
    margin: 0.5rem 0 1.5rem 0;
    text-align: center;
}

.formreset-btn p{
    margin: 0;
    color: #3a5ddb;
}

.formsubmit-btn p{
    margin: 0;
    color: #ffffff;
}
/*Contact section end*/




/*Footer start*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
    gap: 25%;

}

.footersocials{
    display: flex;
    gap: 1rem;
    margin: 0rem 0rem 1rem 0rem;
}

.horizontal-line{
    height: 1px;
    width: 34rem;
    background-color: #cbd7ff;
}

footer h1{
    font-size: 1.1rem;
    font-weight: 400;
    color: #6885f0;
    text-align: center;
    margin: 1rem 0rem 2rem 0rem;
}

footer p{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0rem;
}
/*Footer end*/
